.container{
    max-width: 960px;
    margin: 0 auto;
    background: black;
    font-size: 24px;
    padding: 25px;
}
.parallax{
    background: url("rocket_idea.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

.parallax2{
    background: url("source.gif") no-repeat center;
    background-size: 300px 300px;
    background-attachment: fixed;
    height: 500px;
}
body{
    background: url("brain_idea_picture.jpg");
}
p{
    color: white;
}