body{
    background: url("https://i.imgur.com/2VzVJBB.jpg");
}

input[type=text], select {
    text-align: center;
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select{
    text-align: center;
}

textarea {
    width: 60%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

input[type=submit] {
    text-align: center;
    width: 60%;
    background-color: #4CAF50;
    color: cadetblue;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]{
    color: white;
    background-color: black;
}

.field {
    top: 20%;
    width: 45%;
    border-radius: 5px;
    background-color: lightgreen;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    position: fixed;
    right: 26%;
}