
.container{
    max-width: 960px;
    margin: 0 auto;
    background: black;
    font-size: 24px;
    padding: 25px;
}
.parallax{
    background: url("../Pictures/rocket_idea.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

.parallax2{
    background: url("../source.gif") no-repeat center;
    background-size: 300px 300px;
    background-attachment: fixed;
    height: 500px;
}
body{
    background: url("../Pictures/brain_idea_picture.jpg");
}
p{
    color: white;
}

.center
{
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%,-50%);
}
ul
{
    padding: 0px;
    margin: 0px;
}
ul li
{
    list-style: none;
    border: 2px solid transparent;
    font-size: 15px;
    font-weight: bold;
    margin: 8px;
    border-radius: 15px;
    font-family: arial;
}
ul li a
{
    text-decoration: none;
    padding: 15px 35px;
    display: block;
    text-align: center;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}
ul li:nth-child(1) a
{
    color: red;
    border: 2px solid rgba(255,30,50,1);
}
ul li:nth-child(2) a
{
    color: #ffffff;
    border: 2px solid rgba(255,255,255,1);
}
ul li:nth-child(3) a
{
    color: #fffc00;
    border: 2px solid rgba(255,252,0,1);
}
ul li:nth-child(4) a
{
    color: #00ff00;
    border: 2px solid rgba(0,255,0,1);
}
ul li:nth-child(1):hover a
{
    box-shadow: 0px 0px 5px rgba(255,30,50,0.5), 0px 0px 10px rgba(255,30,50,1);
    background-color: rgba(255,30,50,0.5);
}
ul li:nth-child(2):hover a
{
    box-shadow: 0px 0px 5px rgba(255,255,255,0.5), 0px 0px 10px rgba(255,255,255,1);
    background-color: rgba(255,255,255,0.5);
}
ul li:nth-child(3):hover a
{
    box-shadow: 0px 0px 5px rgba(255,252,0,0.5), 0px 0px 10px rgba(255,252,0,1);
    background-color: rgba(255,252,0,0.5);
}
ul li:nth-child(4):hover a
{
    box-shadow: 0px 0px 5px rgba(0,255,0,0.5), 0px 0px 10px rgba(0,255,0,1);
    background-color: rgba(0,255,0,0.5);
}

li {
    display: inline;
    float: left;
}


