* {margin: 0; padding: 0;}

body{
    background: url("http://eskipaper.com/images/dark-background-8.jpg");
}

.list {
    position: absolute;
    top: 14%;
    left: 30%;
    margin: 20px;
}

#ul {
    list-style-type: none;
    width: 500px;
}

h3 {
    font: bold 19px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
    float: left;
    margin: 0 15px 0 0;
    width: 35%;
    height: 20%;
}

li p {
    font-weight: bold;
    /*font: 200 12px/1.5 Georgia, Times New Roman, serif;*/
    font-family: arial;
}

li {
    padding: 10px;
    overflow: auto;
}

.hov:hover {
    transition: all 0.6s ease-in-out;
    background: #fffc00;
    cursor: pointer;
}

.hov:nth-child(1){
    color: white;
    border: 2px solid rgba(255,30,50,1);
}

.hov:nth-child(2){
    color: white;
    border: 2px solid rgba(255,30,50,1);
}

.hov:nth-child(3){
    color: white;
    border: 2px solid rgba(255,30,50,1);
}

.hov:nth-child(1):hover{
    box-shadow: 0px 0px 5px rgba(255,30,50,0.5), 0px 0px 10px rgba(255,30,50,1);
    background-color: rgba(255,30,50,0.5);
}

.hov:nth-child(2):hover{
    box-shadow: 0px 0px 5px rgba(255,30,50,0.5), 0px 0px 10px rgba(255,30,50,1);
    background-color: rgba(255,30,50,0.5);
}

.hov:nth-child(3):hover{
    box-shadow: 0px 0px 5px rgba(255,30,50,0.5), 0px 0px 10px rgba(255,30,50,1);
    background-color: rgba(255,30,50,0.5);
}