body
{
    margin: 0px;
    padding: 0px;
}
html
{
    overflow-y: hidden;
}

.networks{
    top: 80%;
    right: 38%;
    position: absolute;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}


.bg
{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../Pictures/real.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.center
{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}
ul
{
    padding: 0px;
    margin: 0px;
}
ul li
{
    list-style: none;
    border: 2px solid transparent;
    font-size: 15px;
    font-weight: bold;
    margin: 8px;
    border-radius: 15px;
    font-family: arial;
}
ul li a
{
    text-decoration: none;
    padding: 15px 35px;
    display: block;
    text-align: center;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}
ul li:nth-child(1) a
{
    color: red;
    border: 2px solid rgba(255,30,50,1);
}
ul li:nth-child(2) a
{
    color: #ffffff;
    border: 2px solid rgba(255,255,255,1);
}
ul li:nth-child(3) a
{
    color: #fffc00;
    border: 2px solid rgba(255,252,0,1);
}
ul li:nth-child(4) a
{
    color: #00ff00;
    border: 2px solid rgba(0,255,0,1);
}
ul li:nth-child(1):hover a
{
    box-shadow: 0px 0px 5px rgba(255,30,50,0.5), 0px 0px 10px rgba(255,30,50,1);
    background-color: rgba(255,30,50,0.5);
}
ul li:nth-child(2):hover a
{
    box-shadow: 0px 0px 5px rgba(255,255,255,0.5), 0px 0px 10px rgba(255,255,255,1);
    background-color: rgba(255,255,255,0.5);
}
ul li:nth-child(3):hover a
{
    box-shadow: 0px 0px 5px rgba(255,252,0,0.5), 0px 0px 10px rgba(255,252,0,1);
    background-color: rgba(255,252,0,0.5);
}
ul li:nth-child(4):hover a
{
    box-shadow: 0px 0px 5px rgba(0,255,0,0.5), 0px 0px 10px rgba(0,255,0,1);
    background-color: rgba(0,255,0,0.5);
}
h1
{
    margin: 0px;
    font-size: 60px;
    color: #ffffff;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    padding: 10% 0% 0% 0%;
}
li {
    display: inline;
    float: left;
}

